.item {
  padding: 12px 0px;
  display: flex;
  border-bottom: 1px solid $secondary-bg-color;
  &__name {
    width: 40%;
    font-weight: 600;
    flex-shrink: 0;
    margin-right: 12px;
  }
  &__value {
    flex-grow: 1;
  }
  @include respond-to('small') {
    &__name {
      width: 300px;
    }
  }
  @include respond-to('large') {
    &__name {
      width: 350px;
    }
  }
}
