.item {
  padding: 12px 0px;
  display: flex;
  border-bottom: 1px solid $secondary-bg-color;
  &__name {
    width: 150px;
    font-weight: 600;
    flex-shrink: 0;
  }
  &__value {
    max-width: 180px;
  }
  @media (min-width: 648px) {
    &__name {
      width: 250px;
    }
    &__value {
      max-width: 300px;
    }
  }
}
