.root {
  max-width: 740px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  &__left {
    text-align: left;
    align-self: start;
  }
  &__right {
    text-align: right;
    align-self: end;
  }
}
