.main {
  flex-grow: 1;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  @media (min-width: 648px) {
    margin: 0 auto;
  }
}

.navigation {
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  &__left {
    width: 100%;
    text-align: left;
  }
  &__right {
    width: 100%;
    text-align: right;
  }
}
