.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  height: auto;
  img {
    width: 400px;
    height: auto;
  }
  @include respond-to('small') {
    img {
      width: 600px;
    }
  }
}
