.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px;
  text-align: center;
  img {
    max-height: 180px;
    width: auto;
  }
  @include respond-to('small') {
    img {
      max-height: 260px;
    }
  }
}
